    @media (max-width: 450px){
    body{
            background: url(../images/background.jpg) no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #form{
            background-color: #fff;
            width: 250px;
            height: 350px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }