    @media (max-width: 450px){
    body{
            background: url(../images/background.jpg) no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #form{
            background-color: #fff;
            width: 80%;
            height: 90%px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #flag{
            width: 80%;
            height: 40%;
            border: solid 1px black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            font-size: 40px;
        }
    }